* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #d9d9d9;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.adhear {
	background-image: linear-gradient(to bottom, #0763b3, #5c92c1 );
  }

.jmt {
	background-image: linear-gradient(to bottom, #1a751a , #a1adb4);
}

.ica {
	background-image: linear-gradient(to bottom, #5f0005 , #866b6d);
}

.expresso {
	background-image: linear-gradient(to bottom, #57454B , #9C9497);	
}

nametitle {
  font-size: 50px;
  word-break: break-all;
}

cardtitle {
	font-size: 35px;
	font-weight: 900;
	color: #000a17;
}

subtitle {
	font-size: 25px;
	color: #000a17;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
  margin: 10;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Content */
.item {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 400;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
	flex-direction: column;
}

.itemContainer {
  float: left;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
