* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.adhear {
	background-image: linear-gradient(to bottom, #5c92c1 , #0763b3);
  }

.jmt {
	background-image: linear-gradient(to bottom, #4b6e4b , #9c9fa1);
}

.ica {
	background-image: linear-gradient(to bottom, #5f0005 , #866b6d);
}

.expresso {
	background-image: linear-gradient(to bottom, #57454B , #9C9497);	
}

.cetac {
	background-image: linear-gradient(to bottom, #e96060 , #770000);

}

.lastnight {
	background-image: linear-gradient(to bottom, #1DB954 , #5bf791);
	
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.item {
  background-color: white;
  flex: 1;
  min-width: 300;
  height: 400;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.itemContainer {
  float: left;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
